.row(style="margin-top: 30px")
  .span4
    %img{:src =>  @blood_request.photo.url, :width => '256px'}
  .span8
    %h2= @blood_request.person_name
    %p= @blood_request.description
    %h4 Date de contact
    %p= @blood_request.contacts

    %h5 Distribuie mai departe
    %p
      Share links

.row(style="margin-top: 30px")
  .span12(style="text-align: center")
    %button.btn.btn-primary.btn-large DONATE NOW! LIMITED OFFER!

