%h3 Cereri neacceptate
%section.profiles
  .row-fluid
    - @blood_requests.unapproved.each do |br|
      = render 'case_box', :br => br

%h3 Cereri acceptate
%section.profiles
  .row-fluid
    - @blood_requests.approved.each do |br|
      = render 'case_box', :br => br

%h3 Cereri arhivate
/ %section.profiles
/   .row-fluid
/     - @blood_requests.archived.each do |br|
/       = render 'case_box', :br => br
