.well
  %table
    %tr
      %td
        %h1 Verifică dacă poți dona
        %br
        %p
          Să deveniă un donator poate doar un om sănătos. Puteți verifica sănătatea dumneavoastră cu ajutorul chesionarului nostru insteractiv.
        %p
          Astfel o să aflați dacă puteți deveni donator de sînge. Cu toate acestea, decizia finală privind admiterea unei persoane pentru a dona sânge o face terapeutul.

.well#question= render 'chestionar/q1'
