.modal.fade#myModal
  .modal-dialog
    .modal-content
      .modal-body
        %h3
          donezsange.eu e un proiect ce a fost lansat în cadrul SICamp Moldova 2013.

        %p
          Ne propunem să simplificăm la maxim procedura de donare a sângelui şi să popularizăm această practică integrând cererile cu reţelele sociale.
        %p
          La moment sistemul se află în regim de test. În cazul în care sunteţi interesaţi de o realizare bună a proiectului sau doriţi să deveniţi partener, contactaţi-ne la
          = link_to "contact@donezsange.eu", 'mailto:contact@donezsange.eu'
        %br
        %p
          = "Intre timp ne puteti ajuta complectand"
          = link_to 'acest', 'http://goo.gl/AWKhD4'
          = "chestionar online."
      .modal-footer
        %button.btn.btn-default.btn-danger{"data-dismiss" => "modal", :type => "button"} Închide
