%table{:width => "100%"}
  %tbody
    %tr
      %td.content{:valign => "top"}
        %h1 Donatori
        %p
          %strong Donarea de sînge este sigura si usoara:
        %p Nu se poate lua SIDA sau alte boli infectioase în timpul donarii.
        %p Se utilizeaza un ac steril si de unica folosinta pentru fiecare donare.
        %p Senzatia de lesin sau oboseala dupa donare este foarte rar întâlnita.
        %p Puteti dona doar daca starea de sanatate va permite si va simtiti bine.
        %p Vi se vor pune cîteva întrebari legate de starea de sanatate si vi se va face un mic examen medical – temperatura, puls, tensiune.
        %p Rezultatele testelor ramîn confidentiale.
        %p Pentru a beneficia de o experienta placuta în urma donarii, donatorii sunt rugati sa stea cîteva minute dupa donare; sa evite exercitiile ori ridicarea de greutati îin urmatoarele 5 ore de la donare.
        %p Calitatea sîngelui.
        %p Asigurarea calitatii rezervelor de sînge se face printr-un proces ce presupune testari riguroase, procesare atenta, etichetare, stocare si un atent control al calitatii.
        %p Aici puteţi, de asemenea, să aflaţi informaţii adăugătoare privind:
        %ul
          %li
            %a{:href => "#singele_si_originea_lui"} Sîngele şi originea lui
          %li
            %a{:href => "#grupele_de_singe"} Grupele de sînge şi compatibilitatea lor
          %li
            %a{:href => "#argumente"} 10 argumente PRO donare
          %li
            %a{:href => "#drepturile_si_obligatiile"} Drepturile şi Obligaţiile Donatorilor
          %li
            %a{:href => "#cine_poate_fi"} Cine poate fi donator
          %li
            %a{:href => "#ce_trebuie"} Ce trebuie să faceţi înainte, în timpul şi după donare
    %tr
      %td.content{:valign => "top"}
        %br#singele_si_originea_lui
        %br
        %h3 Sîngele şi originea lui
        %p{:align => "center", :style => "text-align: left;"}
          %strong Ce este sîngele?
        %p{:align => "justify", :style => "text-align: left;"}
          Sîngele este un lichid care circula prin corp, transportînd oxigen si nutrienti catre fiecare celula si preluînd apoi materialele reziduale.
          %br/
          Sîngele joaca un rol principal în sistemul de aparare al organismului.
          %br/
          Este pompat de înima, printr-o retea ce masoara cîtiva km, spre orice parte a corpului. În medie corpul unui adult contine 4-5 litri de sînge. Exista patru mari componente ale sîngelui: celulele rosii (hematii), celulele albe (leucocite), plasma si trombocitele. În plus sîngele contine numerosi nutrienti si minerale.
        %p{:align => "center", :style => "text-align: left;"}
          %strong Tipuri de sînge
        %p{:align => "justify", :style => "text-align: left;"} Desi sîngele este alcatuit din aceleasi elemente de baza, nu tot sîngele este la fel. În realitate exista 8 tipuri comune de celule rosii, care sunt determinate de prezenta sau absenta anumitor tipuri de antigeni. Pentru ca anumiti antigeni pot declansa sistemul imunitar al unui pacient sa atace celulele rosii primite prin transfuzie, terapia cu sînge presupune alegerea cu grija a grupelor de sînge potrivite.
        %p{:align => "center", :style => "text-align: left;"}
          %strong Originea sîngelui
        %p{:align => "justify", :style => "text-align: left;"}
          Sîngele este produs în maduva osoasa, o substanta de consistenta jeleului din înteriorul oaselor. La adulti, coloana vertebrala, coastele si pelvisul sunt principalele oase care produc sînge. Pe masura ce celulele sîngelui se dezvolta din celulele sten din maduva, ele trec în sîngele ce trece prin oase si întra în circuitul sanguin.
          %br/
          Celulele sîngelui au diferite durate de viata – celulele rosii rezista cam 120 de zile, trombocitele 10 zile iar diferitele tipuri de celule albe au o durata de viata ce se masoara de la cîteva zile pana la cîtiva ani.
          %br/
          Organismul are un sistem de feedback ce îl anunta cînd sa produca mai mult sînge. Spre exemplu, daca oxigenul din sînge este scazut, rinichii produc un hormon numit “erythropoietin”, care stimuleaza celulele stem din maduva sa produca mai multe celule rosii.
        %p{:align => "center", :style => "text-align: left;"}
          %strong Cum circula sîngele
        %p{:align => "justify", :style => "text-align: left;"}
          Sîngele circula în doua largi si continue circuite printr-o retea de vase de sînge. Circuitul “drept” duce sîngele din partea dreapta a inimii prin plamîni si înapoi la inima (în partea stînga). Circuitul “stîng” duce sîngele de la inima spre restul corpului si înapoi la inima
          %br/
          Exista mai multe tipuri de vase de sînge: artere, capilare si vene.
          %br/
          Arterele transporta sîngele dinspre inima. Se ramifica în artere mai mici (arteriole) care sunt conectate la capilare (peste un miliard). Capilarele sunt foarte înguste – de latimea unei celule. Înauntrul capilarelor, celulele rosii elibereaza oxigenul, ce trece prin peretii subtiri ai capilarelor în tesutul înconjurator. Tesuturile elibereaza reziduuri, cum ar fi dioxidul de carbon, care trece prin capilare în sînge. Sîngele se întoarce la inima prin vene. Venele contin un sistem de valve cu un singur sens, controlate de contractii ale muschilor, care permit sîngelui sa circule catre inima, chiar si împotriva gravitatiei. Din cauza ca sîngele din vene contine foarte putin oxigen, el apare ca avînd o culoare usor albastra în comparatie cu rosul aprins al sîngelui oxigenat.
    %tr
      %td.content{:valign => "top"}
        %br#grupele_de_singe
        %br
        %h3 Grupele de sînge şi compatibilitatea lor
        %p{:align => "justify"}
          %strong Grupele de sînge au fost descoperite în anul 1900.
        %p{:align => "justify"} Americanul de origine austriaca Karl Landsteiner , patologist si imunologist, descopera în anul 1900, trei tipuri de sînge uman, ulterior numite A, B si O. În anul 1902 el descopera si tipul nr. patru ce primeste numele AB.
        %p Karl Landsteiner a cîstigat în 1930 Premiul NOBEL pentru medicina. El a descoperit cele patru mari grupe de sînge.
        %p{:align => "justify"} Desi tot sîngele uman pare la fel, atunci cînd este testat folosind substante speciale, diferentele devin vizibile. Principalele grupe de celule rosii sunt AII, BIII, ABIV, si OI. Literele simbolizeaza doi antigeni (substante care pot fi atacate de catre sistemul imunitar) denumite A si B
        %p • Grupa de sînge A, are doar antigenul A
        %p • Grupa de sînge B, are doar antigenul B
        %p • Grupa AB ii are pe amîndoi
        %p • Grupa O nu are nici unul
        %p Ca regula de baza, nu poti dona sînge oricui si nici nu poti primi sînge de la oricine, grupele de sînge trebuie sa se potriveasca.
        %p Iată cum se potrivesc grupele de sînge:
        %table{:border => "0", :cellpadding => "5px", :cellspacing => "5"}
          %tbody
            %tr{:style => "heigth: 30px;"}
              %td{:colspan => "10", :style => "text-align: center; heigth: 30px; background-color: #d4e0ee;"}
                %strong D O N A T O R I
            %tr
              %td{:rowspan => "9", :style => "width: 50px; background-color: #d4e0ee; text-align: center;", :valign => "center"}
                %strong B
                %strong
                %strong
                %strong
                %strong
                %strong
                %strong
                %strong E
                %strong
                %strong
                %strong
                %strong
                %strong N
                %p
                %p
                  %strong
                  %strong
                  %strong
                  %strong
                  %strong E
                %p
                  %strong
                  %strong
                  %strong F
                %p
                  %strong I
                %p
                  %strong C
                %p
                  %strong I
                %p
                  %strong A
                %p
                  %strong R
                %p
                  %strong I
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong TIP
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong 0 -
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong 0 +
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong B -
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong B +
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong A -
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong A +
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong AB -
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong AB +
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong AB +
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong AB -
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong A +
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong A -
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong B +
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong B -
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong 0 +
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"} v
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
              %td{:style => "width: 50px; text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: left;"}
                %strong 0 -
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
        %p  
        %p Oamenii poseda pe suprafata globulelor rosii diferite structuri proteice (antigene) care determinî atît grupele sanguine cît si Rh-ul persoanei respective.Grupele de sînge clasificate mai departe ca Rh-pozitiv si Rh-negativ poarta denumirea de tipuri de sînge.
        %p Fiecare grupa sanguina poate fi Rh pozitiv sau Rh negativ. Rh-ul este determinat de o alta proteina, factorul Rh (D antigen). Daca acest factor este prezent pe suprafata eritrocitelor persoana respectiva este Rh pozitiva, daca nu, persoana respectiva este Rh negativa.
        %p  
        %p
          %strong Moştenirea Sîngelui
        %p
          Ca si culoarea ochilor, grupele de sînge se mostenesc genetic de la parinti la copii. Orice grupa de sînge ai avea A,B, AB sau O, se bazeaza pe grupele de sînge ale mamei si tatalui tau.
          %em Nota: Dificultatile de testare pot cauza exceptii de la regulile de mai sus. Doar tipurile AB si O nu sunt suficiente pentru a proba sau nega paternitatea ori maternitatea.
        %table{:border => "0", :cellpadding => "5", :cellspacing => "5"}
          %tbody
            %tr
              %td{:rowspan => "2", :style => "width: 80px; background-color: #d4e0ee;"}
              %td{:style => "width: 70px; background-color: #d4e0ee;"}
                %strong
                %strong Părinte 1
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong AB
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong AB
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong AB
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong AB
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong B
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong A
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong A
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong O
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong O
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong O
            %tr
              %td{:style => "width: 70px; background-color: #d4e0ee;"}
                %strong Părinte 2
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong AB
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong B
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong A
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong O
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong B
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong B
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong A
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong B
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong A
              %td{:style => "width: 40px; background-color: #d4e0ee; text-align: center;"}
                %strong O
            %tr
              %td{:rowspan => "5", :style => "width: 80px; background-color: #d4e0ee;"}
                %strong Grupa de sînge
                %strong posibilă a copilului
              %td{:colspan => "11"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong O
              %td{:style => "text-align: center;"}
              %td{:style => "text-align: center;"}
              %td{:style => "text-align: center;"}
              %td{:style => "text-align: center;"}
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong A
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong B
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"}
              %td{:style => "text-align: center;"} v
              %td{:style => "text-align: center;"}
              %td{:style => "text-align: center;"}
            %tr
              %td{:style => "background-color: #d4e0ee; text-align: center;"}
                %strong AB
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"} v
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
              %td{:style => "background-color: #e8e8e8; text-align: center;"}
    %tr
      %td.content{:valign => "top"}
        %br#argumente
        %br
        %h3 10 argumente PRO donare
        %ol
          %li Sîngele donat de tine poate contribui la salvarea vietii unui copil nou-nascut, unei mame, unui tata, unui frate sau surori. O donatie de sînge poate salva chiar trei vieti.
          %li Poti fi sigur ca sîngele donat de tine va fi întotdeauna necesar si poate fi de folos chiar cuiva apropiat tie.
          %li Sîngele reprezinta un dar nepretuit, care nu poate fi cumparat cu bani, ci poate fi doar donat de la o presoana la alta.
          %li E ceva ce poti oferi „din inima”, desi uneori nu este suficient pentru toata lumea, care are nevoie.
          %li E un mod de a fi admirat de ceir din jur pentru gestul care l-ai facut.
          %li E un mod de a arata ca esti receptiv la suferintele altor oameni.
          %li Donînd sînge, întri în familia mare a donatorilor si poti fi sigur, ca cînd va fi nevoie, vei fi ajutat.
          %li Procedura de donatie e simpla, rapida si inofensiva. Îti va lua doar o jumatate de ora.
          %li E un lucru demn de urmat, uman, corect, care nu cere un efort mare pentru a-l efectua.
          %li Vei pasi mai usor dupa donare, vei fi mai „usor” cu aproape o jumatate de kilogram.
    %tr
      %td.content{:valign => "top"}
        %br#drepturile_si_obligatiile
        %br
        %h3 Drepturile şi Obligaţiile Donatorilor
        %p{:align => "center", :style => "text-align: left;"}
          %strong Drepturile Donatorului de sînge.
        %p{:align => "justify", :style => "text-align: left;"} Conform Legii Republicii Moldova privind Drepturile si responsabilitatile Pacientului nr.263- XVI din 27 octombrie 2005, lucrînd cu pacientii, lucratorii medicali trebuie sa respecte principiile de baza ale realizarii drepturilor pacientilor:
        %ol{:style => "text-align: left;"}
          %li respectarea drepturilor fundamentale ale omului si a demnitatii fiintei umane in domeniul ocrotirii sanatatii;
          %li recunoasterea vietii umane, a sanatatii omului ca valoare suprema;
          %li orientarea spre mentinerea vietii, a sanatatii fizice si psihice a pacientului în procesul prestarii serviciilor de sanatate;
          %li respectarea valorilor morale si culturale ale pacientului, a convingerilor lui religioase si filozofice;
          %li recunoasterea pacientului, iar în cazurile prevazute de legislatie, a reprezentantului sau legal (a rudei apropiate), în calitate de participant principal la luarea deciziei privind interventia medicala;
          %li reglementarea drepturilor, responsabilitatilor si a conditiilor de limitare a drepturilor pacientului în scopul protectiei sanatatii acestuia si respectarii drepturilor altor persoane;
          %li încrederea reciproca dintre pacient si lucratorul medical.
        %p{:align => "justify", :style => "text-align: left;"}
          %strong Conform art. 5 al aceleasi legi, donatorul are urmatoarele drepturi:
        %ol{:style => "text-align: left;"}
          %li atitudine respectuoasa si umana din partea prestatorului de servicii de sanatate, indiferent de vîrsta, sex, apartenenta etnica, statut socio-economic, convingeri politice si religioase;
          %li securitate a vietii personale, integritate fizica, psihica si morala, cu asigurarea discretiei în timpul acordarii serviciilor de sanatate;
          %li reducere a suferintei si atenuare a durerii, provocate de o îmbolnavire si/sau interventie medicala, prin toate metodele si mijloacele legale disponibile, determinate de nivelul existent al stiintei medicale si de posibilitatile reale ale prestatorului de servicii de sanatate;
          %li opinie medicala alternativa si primirea recomandarilor altor specialisti, la solicitarea sa ori a reprezentantului sau legal (a rudei apropiate), in modul stabilit de legislatie;
          %li informatii cu privire la prestatorul de servicii de sanatate, profilul, volumul, calitatea, costul si modalitatea de prestare a serviciilor respective;
          %li examinare, tratament si întretinere in conditii adecvate normelor sanitaro-igienice;
          %li informatii exhaustive cu privire la propria sanatate, metodele de diagnostic, tratament si recuperare, profilaxie, precum si la riscul potential si eficienta terapeutica a acestora;
          %li informatie completa privind factorii nocivi ai mediului ambiant;
          %li exprimare benevola a consimtamîntului sau refuzului la interventie medicala si la participare la cercetarea biomedicala (studiul clinic), in modul stabilit de prezenta lege si de alte acte normative;
          %li informatie privind rezultatele examinarii plîngerilor si solicitarilor, în modul stabilit de legislatie;
          %li atacare, pe cale extrajudiciara si judiciara, a actiunilor lucratorilor medicali si ale altor prestatori ai serviciilor de sanatate, precum si a functionarilor responsabili de garantarea asistentei medicale si a serviciilor aferente în volumul prevazut de legislatie;
          %li îngrijire terminala demna de o fiinta umana;
          %li despagubire a daunelor aduse sanatatii, conform legislatiei.
        %p{:align => "justify", :style => "text-align: left;"} Art. 6 prevede examinarea medicala obligatorie a persoanelor care doneaza benevol sînge, substante lichide biologice, organe si tesuturi, precum si efectuarea examinarii medicale obligatorii, inclusiv pentru depistarea infectiei HIV/SIDA, a sifilisului si a tuberculozei la persoanele aflate în penitenciare.
        %p{:align => "justify", :style => "text-align: left;"} Referitor la garantarea drepturilor sociale ale pacientului la asistenta medicala, art. 8 al legii sus mentionate se expune astfel:
        %ol{:style => "text-align: left;"}
          %li În cazul în care prestatorii de servicii de sanatate sînt obligati sa recurga la selectarea de pacienti pentru anumite tipuri de tratament disponibile în numar limitat, selectarea se va face numai pe baza de criterii medicale aprobate de Ministerul Sanatatii si Protectiei Sociale.
          %li Personalul medical nu este în drept sa supuna pacientul nici unei forme de presiune pentru a-l determina pe acesta sa îl recompenseze altfel decît prevad reglementarile legale.
        %p{:align => "justify", :style => "text-align: left;"} De-asemenea, toate datele privind identitatea si starea pacientului, rezultatele investigatiilor, diagnosticul, pronosticul, tratamentul, precum si datele cu caracter personal sînt confidentiale si urmeaza a fi protejate si dupa moartea acestuia.
    %tr
      %td.content{:valign => "top"}
        %br#cine_poate_fi
        %br
        %h3 Cine poate fi donator
        %p{:align => "center", :style => "text-align: left;"}
          %strong CE TREBUIE SĂ CUNOASCĂ PERSOANELE CARE POT FI DONATORI DE SANGE:
        %ul{:style => "text-align: left;"}
          %li
            %strong Vîrsta
            cuprinsa între
            = succeed ";" do
              %strong 18-60 ani
          %li
            %strong Greutate
            corporala minima
            = succeed ";" do
              %strong 50 kg
          %li
            %strong> Tensiunea arteriala
            \: maxima nu depaseste 180 mmHg, iar minima 100 mmHg;
          %li
            %strong> Valoarea hemoglibinei
            nu este mai joasa de 125g/l pentru femei si nu mai putin de 135 pentru barbati;
          %li Nu prezinta afectiuni de genul: boli de piele, sechele pulmonare, operatie de ulcer, tendinta de sîngerare anormala, s.a;
          %li
            %strong Intervalul de timp
            între doua donari de sînge nu poate fi mai mic de
            = succeed "." do
              %strong 60 zile
        %p{:style => "text-align: left;"}
          %strong La o donare se recolteaza 450±10% mililitri sînge.
        %p{:align => "justify", :style => "text-align: left;"} Controlul si triajul medical ai celor care doneaza trebuie sa urmareasca prevenirea oricarui risc, atît pentru cel care va dona cît si pentru beneficiarii acestui produs biologic. De aceea, controlul medical se bazeaza pe trei examene (clinic, de laborator si epidemiologic), prin care se pot stabili contraindicatiile donarii de sînge. Aceste contraindicatii pot fi: absolute (din cauze care exclud definitiv pe individ de la donare, cum sînt hepatita, tuberculoza, sifilisul, rezecarea stomacului, maladia mitrala, cancerul operat si vindecat, etc.), relative (din cauze care pot fi variabile, cum este tensiunea arteriala de o anumita valoare, care poate ulterior scadea, greutate ponderala sub 50 kg, care ulterior poate creste, etc.) si temporare (din cauze care tin de anumite fenomene ciclice, cum sînt perioada menstruala, sarcina, alaptarea, precum si o stare febrila provocata de o viroza respiratorie trecatoare, etc.).
        %p{:align => "justify", :style => "text-align: left;"} Donarea de sînge este permisa numai persoanelor în stare de sanatate, între 18 si 60 de ani (întrucît în afara acestor vîrste nu exista garantia unui raspuns armonios din partea organismului fata de pierderea a 450 ml de sînge), celor care nu au valorile tensiunii arteriale peste 180 mm Hg sau sub 100 mm Hg, femeilor în afara sarcinii sau a lauziei, celor ce nu manifesta stari emotionale exagerate, teama persistenta fata de actul donarii sau o stare de oboseala, nu au consumat alcool sau o masa bogata în grasimi înainte de a se prezenta la recoltare, au de la ultima donare de sînge minimum 60 de zile, nu au avut în ultimul timp pierderi de sînge si nu au fost supusi unor interventii chirurgicale.
        %p{:align => "justify", :style => "text-align: left;"} Si profesiunea donatorului poate constitui uneori o cauza a respingerii acestuia de la recoltare, cînd exista pericolul potential al infectiilor (cazul mulgatorilor, îngrijitorilor de animale, maturatorilor) sau al unei oboseli fizice (soferi pe mijloace de transport în comun, piloti, operatori la masini grele).
        %p{:align => "justify", :style => "text-align: left;"} Restrictiile de mai sus privind donarea de sange se explica asttel:
        %ul{:style => "text-align: left;"}
          %li Starile emotionale exagerate sunt o expresie a afectarii sistemului nervos, cel care coordoneaza repartitia sangelui dupa necesitati, iar in acest caz raspunsul poate fi inadecvat.
          %li Teama de actul donarii poate duce la o tulburare a circulatiei sîngelui, manifestata printr-o lipotimie (lesin).
          %li Starea de oboseala (dupa munca în schimbul de noapte sau dupa eforturi mari) poate constitui o cauza a adaptarii necorespunzatoare a circulatiei sîngelui. Intervalul de minimum 45 de zile de la ultima recoltare este considerat suficient pentru refacerea tuturor elementelor sîngelui si rezervelor organismului pierdute cu ocazia ultimei recoltari.
          %li Gravida nu poate dona sînge, întrucît organismul sau trebuie sa acopere si nevoile viitorului copil, iar interdictia se prelungeste 18 luni dupa nastere, pentru ca organismul mamei sa-si refaca pierderile.
        %p{:align => "justify", :style => "text-align: left;"} O priza obisnuita de sînge este de 450 ml, cantitate care nu presupune nici un risc pentru donator, deoarece organismul are permanent în rezerva circa 300-400 ml de sînge (pe care îl foloseste cînd se depun eforturi mari), precum si capacitatea de a reface repede sîngele donat (cantitativ în 1- 2 ore), fara a fi necesar un tratament sau o alimentatie speciala , totul depinzînd de modul în care organismul repartizeaza diversele cantitati de sînge în raport de necesitati si de promptitudinea cu care se face aceasta permanenta adaptare.
    %tr
      %td.content{:valign => "top"}
        %br#ce_trebuie
        %h3 Ce trebuie să faceţi înainte, în timpul şi după donare
        %p
          %strong Înainte de donare:
        %ul
          %li Odihniti-va bine în noaptea de dinaintea donarii.
          %li Mîncati ceva usor înainte de donare.
          %li Consumati mai multe lichide pentru a înlocui volumul pe care îl veti dona. Evitati însa ceaiul, cafeaua sau alte bauturi ce contin cofeina.
          %li Consumati alimente bogate în fier – carne rosie, peste, ficat, fasole, cereale îmbogatite cu fier, stafide sau prune.
          %li Evitati mîncarurile grase ca hamburgerii, cartofii prajiti ori înghetata înainte de donare. Testele pentru infectii facute asupra sîngelui donat, pot fi afectate de grasimi – lipide – ce apar în sînge la cîteva ore dupa ce au fost consumate mîncarurile grase.
        %p
          %strong În timpul donarii:
        %ul
          %li Purtati haine cu mîneci care se pot ridica usor mai sus de cot.
          %li Relaxati-va!
        %p
          %strong După donare:
        %ul
          %li Imediat dupa donare puteti servi un sandwich si un suc daca simtiti nevoia
          %li Rehidratati-va consumînd lichide.
          %li Daca va simtiti ametit, întindeti-va, preferabil cu picioarele mai sus, pîna cînd senzatia trece.
          %li În cazurile rare cînd mai au loc usoare sîngerari dupa îndepartarea bandajului, apasati locul respectiv si tineti bratul ridicat timp de 3-5 minute.
          %li Daca apar sîngerari sau vînatai sub piele, aplicati comprese reci pe locul respectiv în primele 24 de ore.
        %p
          %strong Bucurati-va de senzatia ce apare atunci cînd realizaţi ca e posibil sa fi salvat chiar si trei vieti numai cu o singură donaţie de sînge.
