%section.carousel
  .image
    %img(src="/assets/carousel.png")
  .info
    %h1
      Bine ai venit pe donezsange.eu -
      %br>/
      locul unde salvăm vieți împreună.
    %h2 Aici poti afla usor cum devii donator, te poti programa rapid pentru o donare si cel mai important poti cere ajutor.
    .buttons
      %a.btn.btn-danger{:href => "#", :href => "#{questionnaire_path}?redirect=#{new_donation_path}"} Doneaza
      %a.btn.btn-danger{:href => "#", :href => help_path} Caut donatori
%section.profiles
  .row
    .span12
      %h3 Persoane ce au nevoie de sange
  .row
    .span4
      .image
        %a{:href => "#"}
          %img{:alt => "", :src => "/assets/placeholder.png"}/
      .purpose
        .text Mai e nevoie de 5 din 17
        .progress
          .bar.bar-danger{:style => "width: 60%;"}
      .description Sophara is an energetic 14-year-old boy who loves to play sports with friends, but sometimes he feels shy because he was born with an extra thumb on his right hand. Sophara says.
      .calltoaction
        .btn.btn-danger Do it now
    .span4
      .image
        %a{:href => "#"}
          %img{:alt => "", :src => "/assets/placeholder.png"}/
      .purpose
        .text Mai e nevoie de 5 din 17
        .progress
          .bar.bar-danger{:style => "width: 60%;"}
      .description Sophara is an energetic 14-year-old boy who loves to play sports with friends, but sometimes he feels shy because he was born with an extra thumb on his right hand. Sophara says.
      .calltoaction
        .btn.btn-danger Do it now
    .span4
      .image
        %a{:href => "#"}
          %img{:alt => "", :src => "/assets/placeholder.png"}/
      .purpose
        .text Mai e nevoie de 5 din 17
        .progress
          .bar.bar-danger{:style => "width: 60%;"}
      .description Sophara is an energetic 14-year-old boy who loves to play sports with friends, but sometimes he feels shy because he was born with an extra thumb on his right hand. Sophara says.
      .calltoaction
        .btn.btn-danger Do it now
  .row
    .span12.text-right
      %a{:href => "#"} Vezi toate cererile
%section.infoblock
  .row
    .span12
      %hr/
  .row
    .span4
      .image
        %img{:alt => "", :src => "/assets/blog.png"}/
      %h2 Blog
    .span4
      .image
        %img{:alt => "", :src => "/assets/contacteaza-ne.png"}/
      %h2 Contacteaza-ne
    .span4
      .image
        %img{:alt => "", :src => "/assets/despre-proiect.png"}/
      %h2 Despre proiect
