%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      %h4 Vîrsta ta e de la 18 la 65 de ani?
  %tr{:align => "center"}
    %td{:width => "50%"}
      = link_to 'Da', '#', :class => "sync btn", :next_id => 4
    %td{:width => "50%"}
      = link_to 'Nu', '#', :class => "sync btn", :next_id => 2
