%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      %h4 Sunteți purtători a hepatitei A, B, C sau considerați că probabil sunteți infectat?
  %tr{:align => "center"}
    %td{:width => "50%"}
      = link_to 'Da', '#', :class => "sync btn", :next_id => 28
    %td{:width => "50%"}
      = link_to 'Nu', '#', :class => "sync btn", :next_id => 13
