%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      %h4 Ați avut relații sexuale neprotejate cu posibili purtători de hepatită sau HIV?
  %tr{:align => "center"}
    %td{:width => "50%"}
      = link_to 'Da', '#', :class => "sync btn", :next_id => 30
    %td{:width => "50%"}
      = link_to 'Nu', '#', :class => "sync btn", :next_id => 14
