%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      %h4 Ați vizitat vreodată țări din Africa, Asia de Sud-Est sau America Centrală și de Sud?
  %tr{:align => "center"}
    %td{:width => "50%"}
      = link_to 'Da', '#', :class => "sync btn", :next_id => 32
    %td{:width => "50%"}
      = link_to 'Nu', '#', :class => "sync btn", :next_id => 23
