%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      %h4 Ai avut malarie sau febră inexplicabilă asociate cu călătorie în străinătate sau în țară?
  %tr{:align => "center"}
    %td{:width => "50%"}
      = link_to 'Da', '#', :class => "sync btn", :next_id => 33
    %td{:width => "50%"}
      = link_to 'Nu', '#', :class => "sync btn", :next_id => 23
