%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      CNTS vă mulțumește!
      %br/
      Se pare că dumneavoastă puteți deveni donator, deși decizia finală dacă puteți deveni donator sau nu o să fie luat de lucrătorul CNTS.
      %br/
      %br/
      Aflați adresele centrelor de transfuzie a sîngelui pe pagina
      = link_to "Unde pot dona sânge", home_path(:centre)
      %br/
      %br/
      Vă rugăm să luați în considerați că doar pesoanele cu masa mai mare de 50 kg pot să devină donatori.
      %br/
      %br/
      Nu nitați că transfuzia de sînge e posibilă doar dacă sunteți sănătos și vă simțiti bine.
      %br/
      Dacă nu sunteți sigur în faptul dacă putețî face transfuzie de sânge puteți suna la birou de informație 022-739381 și dați toate răspunsurile care vă interesează.

- if params[:redirect]
  :javascript
    window.location.replace("#{params[:redirect]}");
