%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      Vă mulțumim pentru verificarea sănătății dumneavoastră!
      %br/
      Se pare că nu puteți deveni donator.
      %br/
      %br/
      Pentru întrebări adiționale puteți suna la birou de informație 022-739381 și adresa toate răspunsurile care vă interesează.
