%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      Vă mulțumim pentru răspuns.
      %br/
      %br/
      Dacă vi s-a pus diagnoza HIV, în scopul securizării rezervelor de sînge dumneavoastră nu puteți deveni donor.
      %br/
      %br/
      Dacă dumneavoastră nu sunteți sigur dacă sunteți în grupul de risc a celor infectați cu virusul HIV, vă rugăm să vă consultați cu medicul lecuitor.
      %br/
      Pentru întrebări adiționale puteți suna la birou de informație 022-739381 și adresa toate răspunsurile care vă interesează.
      %br/
      %br/
      Noi înțelegem că probabil dumneavoastră veți fi dezamăgiți că nu puteți dona sânge. Dar CNTS speră că dumneavoastră înțelegeți scopul nostru principal - asigurarea securității sîngelui pentru transfuzii.
