%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      Vă mulțumim pentru verificarea sănătății dumneavoastră!
      %br/
      Din răspunsurile dumneavoastră rezultă că la dumneavoastră temporar nu puteți dona sânge.
      %br/
      %br/
      Aflarea în străinătate cu durata mai mare de 2 luni este o limitare temporară pentru a deveni donator de sânge. Dumneavoastră puteți să deveniți donator peste 6 luni după reîntoarcerea din altă țară.
      %br/
      %br/
      Noi înțelegem că probabil dumneavoastră veți fi dezamăgiți că nu puteți dona sânge. Dar CNTS speră că dumneavoastră înțelegeți scopul nostru principal - asigurarea securității sîngelui pentru transfuzii.
