%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      %h4 Ați făcut transfuzie de sînge pe parcursul la ultimele 4 luni?
  %tr{:align => "center"}
    %td{:width => "50%"}
      = link_to 'Da', '#', :class => "sync btn", :next_id => 25
    %td{:width => "50%"}
      = link_to 'Nu', '#', :class => "sync btn", :next_id => 5

