%table{:width => "100%"}
  %tr{:align => "center"}
    %td{:colspan => "2"}
      %h4 Sunteți gravidă sau aveți un copil cu vîrsta de pînă la 9 luni?
  %tr{:align => "center"}
    %td{:width => "50%"}
      = link_to 'Da', '#', :class => "sync btn", :next_id => 26
    %td{:width => "50%"}
      = link_to 'Nu', '#', :class => "sync btn", :next_id => 7
