.input-append{
  input{
    border-radius: 6px 0 0 6px;
  }
  .add-on, .add-on{
    padding: 7px 5px;
    background-color: white;
    border-color: #DCE4EC;
    border-width: 2px 2px 2px 0;
    border-style: solid;
  }
}

.dropdown-menu{
  background: #fff;
}
