/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'bootstrap'
 *= require 'bootstrap-responsive'
 *= require 'bootstrap-datepicker'
 *= require 'bootstrap-datetimepicker'
 *= require_tree .
 *= require_self
*/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext,cyrillic,cyrillic-ext");
@import "compass";

html, body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  min-width: 320px;
}

.well{
  background: #efefef;
}

#main{
  min-height: 100%;
  min-width: 280px;
}

#main > .container{
  padding-top: 148px;
  padding-bottom: 125px;
  min-width: 320px;
}

.share{
  margin-bottom: 10px;
  height: 48px;
  .pluso-wrap a.pluso-more{
    display: none;
  }
}

section.carousel {
  margin-top: 0px;
  .image{
    overflow: hidden;
    height: 221px;
    position: relative;
    img{
      height: 221px;
      width: 836px;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      max-width: 99999px;
    }
  }
  .info{
    h2{
      letter-spacing: 0.02em;
      padding-top: 2px;
    }
    .buttons{
      a:last-child{
        margin-left: 5px;
      }
    }
  }
}

section.profiles{
  .row{
    .span4{
      margin-bottom: 15px;
    }
  }
  .tall{
    line-height: 2.7em;
  }
  .block{
    margin-bottom: 15px;
    .description{
      margin: 10px 22px 0;
    }
  }
  .image{
    overflow: hidden;
    text-align: center;
    a{
      display: block;
      width: 100%;
      height: 190px;
    }
    img{
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      // max-width: 9999px;
    }
  }
  .description{
    height: 60px;
    overflow: hidden;
  }
}

section.partners{
  margin-bottom: 40px;
  h3{
    font-size: 18px;
    font-weight: normal;
  }
  .box{
    float: left;
    width: 33%;
    margin: -1px 0 0;
    border-top: 1px solid #dedcd3;
    border-bottom: 1px solid #dedcd3;
    text-align: center;
    &:nth-child(3n) .box-inner{
      border-right-width: 0;
    }
    .box-inner{
      height: 150px;
      margin: 15px 0;
      border-right: 1px solid #dedcd3;
      vertical-align: middle;
      position: relative;
      img{
        max-height: 130px;
        max-width: 100%;
        height: auto;
        width: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }
  }
}

.formular{
  max-width: 640px;
  margin: 0 auto;
  fieldset{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 6px;
    background: #efefef;
  }
  legend, .legend{
    display: block;
    width: auto;
    line-height: 1.4;
    padding: 15px 24px 0;
    font-size: 22.5px;
    .subtext{
      padding: 10px 0;
      font-size: 14px;
      line-height: 1.4;
    }
  }
  .form-actions{
    background: transparent;
  }
}

.footer {
  background-color: #efefef;
  text-align: center;
  padding: 25px;
  font-size: 13px;
  color: #999;

  a{
    color: #212121;
  }

  .links {
    display: block;
    clear: both;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      clear: none;
      margin: 0 20px;
      padding: 0;
    }
  }

  .social-icons{
    margin-top: 14px;
  }

  .copy{
    margin-top: 23px;
    font-size: 11px;
  }
}

@media (min-width: 980px) {
  section.carousel {
    .image{
      overflow: none;
      height: auto;
      position: relative;
      img{
        height: auto;
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
        display: block;
        max-width: 99999px;
      }
    }
  }
}

@media (min-width: 1200px) {
  section.carousel {
    .image{
      height: 224px;
    }
  }
  section.partners{
    .box{
      width: 25%;
      &:nth-child(4n) .box-inner{
        border-right-width: 0;
      }
      &:nth-child(3n) .box-inner{
        border-right-width: 1px;
      }
    }
  }
}

@media (min-width: 1280px) {
  section.profiles{
    .row-fluid{
      .span3{
        &:nth-child(4n+1){
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 1280px) and (min-width: 768px){
  section.profiles{
    .row-fluid{
      .span3{
        &:nth-child(3n+1){
          margin-left: 0;
        }
        width: 32.13859020310633%;
        *width: 32.07885304659498%;
        margin-left: 1.792114695%;
        *margin-left: 1.88172043%;
      }
    }
  }
  .home section.profiles .row-fluid .span3:nth-child(4n) {
    display: none;
  }
}

@media (max-width: 979px) {
  #main>.container{
    padding-top: 0;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .navbar .container{
    padding: 0 20px;
  }
  #main>.container{
    padding-bottom: 145px;
  }
  #footer {
    min-height: 145px;
    margin: -145px 0 0;
  }
}
@media (max-width: 767px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: auto;
  }
  .carousel .info{
    h2{
      width: auto;
    }
  }
  section.partners{
    .box{
      width: auto;
      float: none;
      .box-inner{
        border-right-width: 0;
      }
      &:nth-child(4n) .box-inner{
        border-right-width: 0;
      }
      &:nth-child(3n) .box-inner{
        border-right-width: 0;
      }
    }
  }
  footer{
    padding: 0 20px;
  }
  #main>.container{
    padding-bottom: 160px;
  }
  #footer {
    min-height: 160px;
    margin: -160px 0 0;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .profiles{
    .row-fluid{
      .span3{
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
      }
    }
  }
}

@media (max-width: 480px) {
  .profiles{
    .block{
      .image a{
        height: 300px;
      }
    }
  }
  .carousel .info{
    h1{
      font-size: 22px;
    }
    h2{
      width: auto;
    }
  }
}

@media (max-width: 400px) {
  .carousel .info{
    h1{
      font-size: 18px;
    }
    h2{
      width: auto;
      padding-top: 0;
    }
  }
}

#main .container {
  padding-bottom: 0;
}

.menu {
  background-color: black;
}

.navbar-inverse .navbar-inner {
  background-color: #313133;
  background-image: -moz-linear-gradient(top,#3b3c3f,#212121);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#3b3c3f),to(#212121));
  background-image: -webkit-linear-gradient(top,#3b3c3f,#212121);
  background-image: -o-linear-gradient(top,#3b3c3f,#212121);
  background-image: linear-gradient(to bottom,#3b3c3f,#212121);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b3c3f',endColorstr='#ff212121',GradientType=0);
  border-color: #252525;
}
