/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'bootstrap.min'
 *= require_tree .
 *= require_self
*/

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  background-color: #f0584c;
  background-image: -moz-linear-gradient(top,#f0584c,#f0584c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f0584c),to(#f0584c));
  background-image: -webkit-linear-gradient(top,#f0584c,#f0584c);
  background-image: -o-linear-gradient(top,#f0584c,#f0584c);
  background-image: linear-gradient(to bottom,#f0584c,#f0584c);
}

html, body{
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  min-width: 320px;
}

#main{
  min-height: 100%;
  min-width: 320px;
}

#main>.container{
  padding-top: 78px;
  padding-bottom: 125px;
  min-width: 320px;
}

section.carousel {
  margin-top: 0px;
  .image{
    overflow: hidden;
    height: 221px;
    position: relative;
    img{
      height: 221px;
      width: 836px;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      max-width: 99999px;
    }
  }
}

#footer {
  min-height: 125px;
  margin: -125px 0 0;
}

#question td {
  &:first-child a.btn{
    background: #2C3E50;
  }
  &:nth-child(2) a.btn {
    background: #f0584c;
  }
}

#feedback {
  height: 104px;
  width: 104px;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a {
  display: block;
  background: #f0584c;
  height: 15px;
  width: 70px;
  padding: 8px 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

#feedback a:hover {
  background: #06c;
}

@media (min-width: 980px) {
  section.carousel {
    .image{
      overflow: none;
      height: auto;
      position: relative;
      img{
        height: auto;
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
        display: block;
        max-width: 99999px;
      }
    }
  }
}

@media (max-width: 979px) {
  #main>.container{
    padding-top: 0;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .navbar .container{
    padding: 0 20px;
  }
  #main>.container{
    padding-bottom: 145px;
  }
  #footer {
    min-height: 145px;
    margin: -145px 0 0;
  }
}
@media (max-width: 767px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: auto;
  }
  .carousel .info{
    h2{
      width: auto;
    }
  }
  .infoblock{
    .row-fluid{
      .span4{
        width: 31%;
        margin: 0 1%;
        float: left;
        .image{
          img{
            max-width: 155px;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  footer{
    padding: 0 20px;
  }
  #main>.container{
    padding-bottom: 160px;
  }
  #footer {
    min-height: 160px;
    margin: -160px 0 0;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  }
}

@media (max-width: 480px) {
  .carousel .info{
    h1{
      font-size: 22px;
    }
    h2{
      width: auto;
    }
  }
  .infoblock{
    .row-fluid{
      .span4{
        h2{
          font-size: 14px;
          margin-top: 5px;
          line-height: 20px;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .carousel .info{
    h1{
      font-size: 18px;
    }
    h2{
      width: auto;
      padding-top: 0;
    }
  }
}
