%footer.footer
  .container-fluid
    .row-fluid
      .span24
        %ul.links
          %li
            %a{href: "/terms"} Termeni și condiții
          %li
            %a{href: "/about"} Despre proiect
        %ul.social-icons
          %li
            %a.fb{href: "https://www.facebook.com/e.sanatatea.ta", target: "_blank"}
          %li
            %a.tw{href: "https://twitter.com/E_Sanatatea_TA", target: "_blank"}
          %li
            %a.li{href: "http://www.linkedin.com/profile/view?id=254762663&trk=tab_pro", target: "_blank"}
          %li
            %a.yt{href: "http://www.youtube.com/channel/UCuVNhiubNuy1M8yQmQmVOUQ", target: "_blank"}
          %li
            %a.rs{href: "http://www.e-sanatate.md/News/Home/RSS", target: "_blank"}
        .copy
          2014 © Donez Sânge. Toate drepturile sunt rezervate
