.container-fluid
  %a.brand{href: "/News/Home"}
    %i.icon-section.icon-doneazasange
    Donează Sânge
  %ul.nav.nav-collapse.icons-section
    %li
      %a{href: "/News/Home"}
        %i.icon-section.icon-sanostiri.icon-inverse
        %span.hidden-desktop Sănătate Info
    %li
      %a{href: "/TV/Home"}
        %i.icon-section.icon-sanatatetv.icon-inverse
        %span.hidden-desktop Sănătate TV
    %li
      %a{href: "/SanoClub"}
        %i.icon-section.icon-sanoclub.icon-inverse
        %span.hidden-desktop SanoClub
    %li
      %i.icon-section.icon-isan.icon-inverse
      %span.hidden-desktop iSaN
    %li
      %i.icon-section.icon-imed.icon-inverse
      %span.hidden-desktop iMeD
    %li
      %i.icon-section.icon-imec.icon-inverse
      %span.hidden-desktop iMeC
    %li
      %a{href: "http://tuberculoza.info/"}
        %i.icon-section.icon-infotb.icon-inverse
        %span.hidden-desktop Info TB
    %li
      %a{href: "/Spitale/Home"}
        %i.icon-section.icon-spitalemd.icon-inverse
        %span.hidden-desktop Spitale.MD
    %li
      %a{href: "http://pas.md/"}
        %i.icon-section.icon-pas.icon-inverse
        %span.hidden-desktop Centrul PAS